npm_config_sharp_binary_host="https://npmmirror.com/mirrors/sharp"

npm_config_sharp_libvips_binary_host="https://npmmirror.com/mirrors/sharp-libvips"
ELECTRON_MIRROR="https://npmmirror.com/mirrors/electron/"